* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    /* Tamaño de fuente predeterminado */
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(45deg, #cbfff5, #fdfdf0);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: linear-gradient(60deg, #fceafc, #ffd3ff);
    /* background: linear-gradient(50deg, #fcfed2, #faeb86); */
    height: 90px;
    box-shadow: 0 4px 5px rgba(50, 50, 50, 0.3);
}

.main-conteiner {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.cont-nav-mobile {
    display: none;
}

.menu-toggle {
    display: none;
}

.cont-navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    flex-grow: 1;
}

.cont-logo {
    z-index: 20;
    display: flex;
    justify-content: flex-start;
    align-items: end;
    height: 90px;
    /* margin: 0 25px; */
}

.nav-a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 6px;
    cursor: pointer;
}

.nav-a:hover {
    font-size: 1.4rem;
    color: rgb(23, 21, 97);
    box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.5);
    padding: 0 6px;
}

.img-nav {
    /* margin-bottom: -22px; */
    width: 140px;
    background-color: transparent;
    /* border: 1px solid rgb(97, 97, 97); */
}

/* seccion inicio  */

#inicio {
    background: #7878a4;
}

#conocenos {
    background: #5c7b83;
}

#imagenes {
    background: #92d1bb;
}

#conacto {
    background: #b2dd8d;
}

.inicio {
    display: flex;
    justify-content: center;
    /* max-height: 95vh; */
}

.cont-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60vw;
}

.cont-inicio img {
    /* max-width: 60vw; */
    aspect-ratio: 1.5 / 1;
    max-height: 55vh;
    margin-top: 140px;
}

.cont-inicio h1 {
    font-size: 3.2rem;
    margin-bottom: 15px;
}

.inicio-subtitulo {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 80px;
    max-width: 65vw;
    text-align: center;
}

#conocenos {
    margin-top: 70px;
    padding: 70px;
    /* height: auto; */
}

.cont-conocenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-top: 90px;
}

.cont-conocenos img {
    width: 60vw;
}

.cont-conocenos h1 {
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 3.6rem;
    font-size: 3rem;
}

.conoce-descripcion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 0 110px;
}

.conoce-descripcion p {
    width: 90%;
    font-size: 1.3rem;
    text-align: justify;
    margin: 5px 0 5px 20px;

}

.servi-titulo {
    margin: 3rem 0 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    font-size: 0.9rem;
    line-height: 0.2rem;
    text-align: center;
}

.servi-mascota {
    margin: 1.6rem 0;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.gal-imagenes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gal-imagenes h1 {
    text-align: center;
    margin: 7rem 0 4rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    max-width: 90vw;
    gap: 10px;
    margin-top: 20px;
    padding: 0 15vw;
}

.imagen {
    cursor: pointer;
    width: 95%;
    height: auto;
    margin: auto;
    aspect-ratio: 4/3;
    border: 1px solid #000;
    padding: 1px;
}

.imagen-grande-contenedor {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    overflow: hidden;
    text-align: center;
    z-index: 1;
}

.imagen-grande {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    position: fixed;
    aspect-ratio: 4/3;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cerrar-imagen {
    position: absolute;
    top: 120px;
    right: 80px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    color: #ffffff;
    cursor: pointer;
    z-index: 90;
}

.flecha-izq {
    position: absolute;
    bottom: 60px;
    text-align: center;
    margin-right: 80px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
    z-index: 90;
}

.flecha-der {
    position: absolute;
    bottom: 60px;
    text-align: center;
    margin-left: 80px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    color: #fff;
    cursor: pointer;
    z-index: 90;
}

#contacto {
    padding-top: 150px;
    margin-bottom: 120px;
}

.contacto {
    font-size: 1.3rem;
}

.cont-contacto {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 4rem;
}

.cont-link-contacto a {
    text-decoration: none;
}

.cont-link-contacto i {
    font-size: 2.2rem;
}

.llamar-tel {
    display: none;
}

.boton-llegar {
    width: 150px;
    height: 40px;
    border-radius: 6px;
    font-size: 1.1rem;
    text-decoration: none !important;
    margin: 55px 0 45px;
}

.boton-llegar:hover {
    background-color: rgb(150, 180, 199);
    width: 160px;
    height: 44px;
}

.cont-mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto h1 {
    margin: 3.6rem 0;
    font-size: 2.3rem;
}

.footer {
    width: 100%;
    height: 110px;
    background-color: #070678;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-around;
}

.contenedor-iconos {
    /* margin: 0 120px; */
    font-size: 3rem;
    color: white;
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    align-items: center;
}

#foot-copy {
    min-width: 190px;
    color: white;
    flex-grow: 0;
    margin-top: 45px;
    margin-left: 40px;
}

@media (min-width: 1440px) {}

@media (min-width: 1050px) {

    .cont-inicio img {
        /* width: 680px */
    }

}

@media (min-width: 2500px) {

    html {
        font-size: 24px;
    }

    .cont-inicio img {
        width: 1100px;
    }

    /* #conocenos {
        height: 120vh;
    } */
}


/* Estilos para Laptop */
@media (max-width: 1024px) {

    .cont-inicio h1 {
        padding-top: 0.7rem;
        padding-bottom: 0.5rem;
        font-size: 2.5rem;
    }

    .inicio-subtitulo {
        font-weight: bold;
        margin-bottom: 80px;
    }

    .nav-a {
        object-position: content-box;
        overflow: hidden;
    }

    .parrafos {
        column-gap: 25px;
        padding: 0 90px;
    }

    .footer {
        width: 100vw;
    }
}


/* Estilos para tablet */
@media screen and (max-width: 768px) {

    .header {
        max-width: 100vw;
    }

    .cont-inicio img {
        max-width: 65vw;
        height: auto;
    }

    .conoce-descripcion {
        padding: 0 30px;
    }

    .parrafos {
        column-gap: 25px;
        padding: 0 55px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 90vw;
        gap: 10px;
        margin-top: 20px;
        padding: 0 15%;
    }
}

/* Estilos para celulares  425px */
@media screen and (max-width: 450px) {

    html {
        font-size: 13px;
    }

    .cont-logo {
        margin: 0 20px;
    }

    .cont-inicio {
        max-width: 80vw;
    }

    .menu-toggle {
        display: block;
        margin-right: 40px;
    }

    .cont-navbar {
        display: none;
    }

    .menu-toggle.active {
        display: flex;
    }

    .cont-nav-mobile.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 10px;
        right: 10px;
        background: #febbfe;
        width: auto;
        padding: 15px;
    }

    .cont-nav-mobile a:hover {
        font-size: 1.4rem;
        color: rgb(23, 21, 97);
        box-shadow: 4px 4px 5px rgba(50, 50, 50, 0.5);
        padding: 0 6px;
    }

    .boton-cerrar {
        align-self: flex-end;
        margin-bottom: 10px;
        background-color: transparent;
    }

    .cont-inicio img {
        max-width: 80vw;
        height: auto;
    }

    .cont-inicio h1 {
        font-size: 2rem;
    }

    .inicio-subtitulo {
        font-size: 0.7rem;
        text-align: center;
    }

    #conocenos {
        /* margin-top: 0;
        padding: 0; */

    }

    .cont-conocenos {
        margin-top: 60px;
    }

    .cont-conocenos img {
        width: 80vw;
        aspect-ratio: 4 / 2;
    }

    .conoce-descripcion {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }

    .servicios {
        display: block;
    }

    .imagen {
        aspect-ratio: 1/1;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #contacto {
        display: flex;
        justify-content: center;
        padding-top: 70px;
        margin-bottom: 80px;
    }

    .cont-contacto {
        display: flex;
        flex-direction: column;
    }

    .contacto {
        font-size: 1.1rem;
    }

    .llamar-tel {
        display: block;
    }

    .cont-mapa iframe {
        width: 320px;
        height: 240px;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: stretch;
        height: 140px;
    }

    .contenedor-iconos {
        height: 90px;
        margin-top: 8px;
        flex-grow: 0;
    }

    #foot-copy {
        display: flex;
        justify-content: center;
        margin-top: 20px;

    }
}

@media screen and (max-width: 375px) {

    .cont-inicio h1 {
        font-size: 1.9rem;
    }

    .cont-inicio {}

    .inicio-subtitulo {
        font-size: 0.8rem;
    }

    .menu-toggle {
        margin-right: 30px;
    }

    .contacto {
        font-size: 0.9rem;
    }

    .cont-mapa {
        display: flex;
        justify-content: center;
    }

    .cont-mapa iframe {
        width: 260px;
        height: 195px;
    }
}

@media screen and (max-width: 320px) {

    /* #conocenos {
        height: 240vh;
    } */
}